<% include ../../includes/header.ejs %>
  <title>
    <%= title %>
  </title>
  <link href="/stylesheets/ta03.css" rel="stylesheet" type="text/css" />

  </head>

  <body>
    <% include ../../includes/nav.ejs %>
      <div class="container">
        <form action="/proveAssignments/08" method="POST" class="form-inline">
          <input type="text" name="searchValue" placeholder="Search by Title" class="form-control" style="width:300px">
          <button type="submit" class="btn btn-primary">Search</button>
          <% if (searchedValue.length> 0) { %>
            <a type="button" href="/proveAssignments/08" class="btn btn-default">Clear Search Results</a>
            <h3>Showing search results for: <%= searchedValue %>
            </h3>
            <% } %>
        </form>
        <h1>JSON Results</h1>
        <% for(var i=0; i<data.length; i++) {%>
          <% if(i % 3==0) { %>
            <div class="container">
              <% } %>
                <div class="card">
                  <img src="<%= data[i].imageUrl %>" alt="t" class="cardImg">
                  <div class="cardContainer">
                    <h4><b>
                        <%= data[i].name %>
                      </b></h4>
                    <h6>
                      <%= data[i].price %>
                    </h6>
                    <p>
                      <%= data[i].description %>
                    </p>
                  </div>
                  <% if(i % 3==2) { %>
                </div>
                <% } %>
            </div>
            <% } %>

      </div>
      <!-- Pagination button generation -->
      <form class="actions container">
        <% for(var i=1; i <=numPages; i++) { %>
          <a href="?page=<%= i %><%= (searchedValue) ? `&searchValue=${searchedValue}` :  "" %>" class="btn <%= (page==i) ? 'btn-primary' : 'btn-default' %>">
            <%= i %>
          </a>
          <% } %>
            </div>
  </body>

  </html>